
/*this background was purrfect!*/
body {
    background-image: url(https://us.123rf.com/450wm/cnuisin/cnuisin2001/cnuisin200100115/136973898-cat-seamless-pattern-vector-kitten-calico-coffee-cup-scarf-isolated-cartoon-tile-wallpaper-repeat-ba.jpg?ver=6);
  }

  .carousel {
    width:900px;
    height:500px;
    margin: auto;
  }

  